
services:
  web:
    build:
      context: .
      args:
        - NEXT_PUBLIC_API_BASE_URL=https://dspbackend.clapol.com
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_BASE_URL=https://dspbackend.clapol.com
    restart: always
